In [1]:
'''
# # Link to MoviePoster dataset:
    https://www.cs.ccu.edu.tw/~wtchu/projects/MoviePoster/
    https://www.kaggle.com/neha1703/movie-genre-from-its-poster

'''

from collections import defaultdict
import pandas as pd
import numpy as np
import json

In [37]:
movie_data = 'ml-latest-small/movies.csv'
#  names=['movieId', 'movieId', 'rating','timestamp']
df_movies = pd.read_csv(movie_data, low_memory=False)
df_movies['year'] = df_movies['title'].apply(lambda x: x[-5:-1])
df_movies['title'] = df_movies['title'].apply(lambda x: x[:-7])
df_movies['genres'] = df_movies['genres'].apply(lambda x: x.replace('|',', '))
df_movies.tail()

,movieId,title,genres,year
9737,193581,Black Butler: Book of the Atlantic,"Action, Animation, Comedy, Fantasy",2017
9738,193583,No Game No Life: Zero,"Animation, Comedy, Fantasy",2017
9739,193585,Flint,Drama,2017
9740,193587,Bungo Stray Dogs: Dead Apple,"Action, Animation",2018
9741,193609,Andrew Dice Clay: Dice Rules,Comedy,1991

In [38]:
link_data = 'ml-latest-small/links.csv'
df_links = pd.read_csv(link_data, low_memory=False)
df_links.tail()

      movieId   imdbId    tmdbId
9737   193581  5476944  432131.0
9738   193583  5914996  445030.0
9739   193585  6397426  479308.0
9740   193587  8391976  483455.0
9741   193609   101726   37891.0

In [39]:
# for index, row in df_movies.head().iterrows():
# #     Getting index by movieId
#     idx_df_links = int(df_links[df_links['movieId']==row.movieId].index[0])
#     idx_df_movies = int(df_movies[df_movies['movieId']==row.movieId].index[0])
#     print('Row.movieId: {}\nIdx: {}\n'.format(row.movieId, this_idx))
#     print(df_links.loc[idx_df_links])
#     print('\n')
#     df_movies.loc[idx_df_movies,('imdbId')] = df_links.loc[idx_df_links,('imdbId')]

In [46]:
df_movies['imdbId'] = df_links['imdbId']
df_movies.head()

,movieId,title,genres,year,imdbId,imdbLink,poster
0,1,Toy Story,"Adventure, Animation, Children, Comedy, Fantasy",1995,114709,None,https://images-na.ssl-images-amazon.com/images...
1,2,Jumanji,"Adventure, Children, Fantasy",1995,113497,None,https://images-na.ssl-images-amazon.com/images...
2,3,Grumpier Old Men,"Comedy, Romance",1995,113228,None,https://images-na.ssl-images-amazon.com/images...
3,4,Waiting to Exhale,"Comedy, Drama, Romance",1995,114885,None,https://images-na.ssl-images-amazon.com/images...
4,5,Father of the Bride Part II,Comedy,1995,113041,None,https://images-na.ssl-images-amazon.com/images...

In [47]:
df_movies['imdbLink'] = 'None'
df_movies['poster'] = 'None'
df_movies.head()

,movieId,title,genres,year,imdbId,imdbLink,poster
0,1,Toy Story,"Adventure, Animation, Children, Comedy, Fantasy",1995,114709,None,None
1,2,Jumanji,"Adventure, Children, Fantasy",1995,113497,None,None
2,3,Grumpier Old Men,"Comedy, Romance",1995,113228,None,None
3,4,Waiting to Exhale,"Comedy, Drama, Romance",1995,114885,None,None
4,5,Father of the Bride Part II,Comedy,1995,113041,None,None

In [48]:
poster_data = 'movie_poster/MovieGenre.csv'
df_posters = pd.read_csv(poster_data, low_memory=False, encoding='latin-1')
df_posters.head()

,imdbId,Imdb Link,Title,IMDB Score,Genre,Poster
0,114709,http://www.imdb.com/title/tt114709,Toy Story (1995),8.3,Animation|Adventure|Comedy,https://images-na.ssl-images-amazon.com/images...
1,113497,http://www.imdb.com/title/tt113497,Jumanji (1995),6.9,Action|Adventure|Family,https://images-na.ssl-images-amazon.com/images...
2,113228,http://www.imdb.com/title/tt113228,Grumpier Old Men (1995),6.6,Comedy|Romance,https://images-na.ssl-images-amazon.com/images...
3,114885,http://www.imdb.com/title/tt114885,Waiting to Exhale (1995),5.7,Comedy|Drama|Romance,https://images-na.ssl-images-amazon.com/images...
4,113041,http://www.imdb.com/title/tt113041,Father of the Bride Part II (1995),5.9,Comedy|Family|Romance,https://images-na.ssl-images-amazon.com/images...

In [49]:
for index, row in df_movies.head().iterrows():
    idx_df_posters = int(df_posters[df_posters['imdbId']==row.imdbId].index[0])
    idx_df_movies = int(df_movies[df_movies['imdbId']==row.imdbId].index[0])
    
    df_movies.loc[idx_df_movies,('imdbLink')] = df_posters.loc[idx_df_posters,('Imdb Link')]
    df_movies.loc[idx_df_movies,('poster')] = df_posters.loc[idx_df_posters,('Poster')]

In [50]:
df_movies.head()

,movieId,title,genres,year,imdbId,imdbLink,poster
0,1,Toy Story,"Adventure, Animation, Children, Comedy, Fantasy",1995,114709,http://www.imdb.com/title/tt114709,https://images-na.ssl-images-amazon.com/images...
1,2,Jumanji,"Adventure, Children, Fantasy",1995,113497,http://www.imdb.com/title/tt113497,https://images-na.ssl-images-amazon.com/images...
2,3,Grumpier Old Men,"Comedy, Romance",1995,113228,http://www.imdb.com/title/tt113228,https://images-na.ssl-images-amazon.com/images...
3,4,Waiting to Exhale,"Comedy, Drama, Romance",1995,114885,http://www.imdb.com/title/tt114885,https://images-na.ssl-images-amazon.com/images...
4,5,Father of the Bride Part II,Comedy,1995,113041,http://www.imdb.com/title/tt113041,https://images-na.ssl-images-amazon.com/images...